html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* min-width: 460px; */
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container-2 {
  display: grid;
  grid-template-areas:
    "div"
    "div"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 40% 10% 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  padding: 1rem;
  z-index: 10;
  height: 10rem;
  /* color: #ffffff; */
  /* border-bottom: 0.2rem ridge rgb(219, 219, 219); */
}

/* @keyframes slide {
  from {
    
  }
  to {
    background-position-x: 180rem;
  }
} */
.back-img {
  padding: 0 10% 0 10%;
  z-index: 999;
}

.homescreen {
  margin-top: 55rem;
  background: transparent;
  /* padding: 10% auto 5% auto; */
}

/* slideshow */
#slideshow-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  height: 132%;
}
#slideshow-cont img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}
#slideshow-cont img:nth-of-type(1) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
#slideshow-cont img:nth-of-type(2) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.title {
  top: 20%;
  left: 10%;
  position: absolute;
  z-index: 100;
  text-align: left;
  font-family: "Barlow", sans-serif;
  color: white;
}
.title-name {
  padding-top: 0em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 800%;
  line-height: 149px;
  z-index: -10;
  font-weight: 600;
  font-family: "Alata", sans-serif;
  /* font-weight: 700; */
  opacity: 0;
  animation: titlename 8s linear infinite;
}
.title-intro {
  padding-bottom: 0em;
  padding-top: 10rem;
  opacity: 0;
  animation: titleintro 8s linear infinite;
}
.title-button {
  width: 20rem;
  height: 8rem;
  font-size: 2rem;
  opacity: 0;
  border: 0rem;
  animation: titlebutton 8s linear infinite;
}
.title-button:hover {
  background-color: rgb(99, 235, 65);
}

@keyframes imgFade {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  47.5% {
    opacity: 1;
    /* transform: scale3d(1.2, 1.2, 1.2); */
  }
  50% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1.2);
  }
  95% {
    opacity: 0;
  }
  97.5% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleintro {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  14% {
    opacity: 0.5;
  }
  18% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titlename {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  22% {
    opacity: 0.5;
  }
  26% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titlebutton {
  0% {
    opacity: 0;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  34% {
    opacity: 1;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
    /* animation-timing-function: ease-in; */
  }
  5% {
    opacity: 0.5;

    /* animation-timing-function: ease-in; */
  }
  10% {
    opacity: 1;
    /* animation-timing-function: ease-in; */
  }
  90% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.2);
    /* animation-timing-function: ease-out; */
  }

  95% {
    opacity: 0.5;
    /* animation-timing-function: ease-out; */
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2);
    opacity: 0;
  }
}

main {
  grid-area: main;
  /* padding: 1% 5% 1% 5%; */
  /* background-color: rgb(247, 255, 246); */
  opacity: 1;
  /* z-index: 10; */
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
.header-links i {
  color: black;
}
.header-icon {
  padding: 1rem;
}
/* a:hover {
  color: #ff8000;
} */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
  height: 5rem;
}
button.block {
  width: 100%;
  margin: 2rem 0 0.5rem 0;
}
button.small-block {
  width: 50%;
  margin-bottom: 3rem;
  align-self: center;
}
button.small {
  font-size: 1.2rem;
}
button.delete {
  background-color: rgb(238, 165, 165);
}
button.details {
  background-color: rgb(164, 164, 230);
}
.cart li {
  border-bottom: 0.1rem black solid;
}
.cart-name {
  border-bottom: 0.1rem black solid;
  padding-bottom: 2rem;
}
.Coupon-Form input {
  height: 5rem;
  margin-right: 2rem;
  width: 40%;
}
.Coupon-Form button {
  width: 40%;
  height: 7rem;
  margin-right: 2rem;
  text-align: center;
}
/* Header */
header a {
  color: #3f3f3f;
  padding: 1rem;
}

.cont-info {
  color: rgb(190, 190, 190);
}

.header-soc-icon i {
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  /* top: 50%; */
}

.header-soc-icon div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0.3;
  margin: 0.5rem;
}

.head-image {
  position: absolute;
  z-index: -99999;
  width: 100%;
  height: 10%;
  filter: brightness(70%);
  border-radius: 0;
  top: -30%;
}

.head-image img {
  width: 100%;
}

.header-soc-icon div:hover {
  /* background-color: white; */
  cursor: pointer;
  opacity: 0.6;
}
.sec-head {
  padding: 1% 0 0% 0;
  border-bottom: 0.05rem solid black;
  border-top: 0.05rem solid black;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  align-items: center;
  /* position: absolute; */
}
/* .sec-head i {
  color: black;
} */
.sec-head-ele {
  cursor: pointer;
  color: white;
  padding: 1rem 1.5rem 0rem 1.5rem;
  border-radius: 00.5rem;
  /* height: 2.5rem; */
  border-bottom: transparent solid 2rem;
  /* background-color: transparent; */
  /* margin-bottom: 1rem; */
}
.sec-head-ele i {
  padding-bottom: 0;
  margin: 0;
}

.home {
  color: white;
}

.home:hover {
  transition-duration: 00.5s;
  color: rgb(200, 255, 200);
}

.sec-head-ele:hover {
  color: rgb(200, 255, 200);
  transition-duration: 00.5s;
}
@keyframes expand {
  from {
    background-color: transparent;
    color: white;
  }
  to {
    background-color: yellowgreen;
    color: black;
  }
}

/* .header-links li{
  margin: 0rem;
  padding: 0.2rem;
} */

/* .header-links li:hover{
  color: black;
} */
.full-width {
  width: 100%;
  padding: 0rem;
}
/* .header-brand {
  background-color: #a8a894;
  border-right: 0.2rem ridge rgb(219, 219, 219);
} */

a.brand {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
}
.name {
  font-size: 2rem;
  color: black;
}
.badge {
  position: absolute;
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
.row h1,
.heading {
  font-size: 3rem;
}
.main-pad {
  background-color: rgb(247, 255, 246);
  padding: 5% 5% 1% 5%;
}
.product-screen input {
  width: 5rem;
}
.product-name {
  font-size: 2rem;
  color: black;
}
.product-name:hover {
  color: #ff8000;
}
.image {
  margin-right: 5rem;
  width: 50%;
}
.image img{
  width: 58rem;
  height: 60rem;
}
.prod {
  line-height: 3rem;
}
.prod h1 {
  font-size: 5rem;
  border-bottom: 0.05rem solid rgb(233, 233, 233);
  margin: 0;
  padding: 0 0 2rem 0;
}
.prod .price-rating {
  border-bottom: 0.05rem solid rgb(233, 233, 233);
  padding: 2rem 0 2rem 0;
}
.prod .price-description {
  padding: 2rem 0 2rem 0;
  line-height: 3rem;
}
/* .prod{
  width: 50%;
} */
/* Aside */
aside {
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 1000;
  transform: translateX(-20rem);
  transition: all 0.5s;
  text-decoration: none;
}

aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0rem;
  text-decoration: none;
}

.aside-title {
  font-size: 2.3rem;
}

.aside-title:hover {
  background-color: #f5f5f5;
}

aside li:hover {
  background-color: rgb(218, 218, 218);
}

button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  width: 15rem;
  height: 15rem;
  /* width: 100%; */
}
img.small-1 {
  width: 8rem;
  height: 8rem;
}
img.medium {
  /* max-width: 29rem; */
  width: 29rem;
  /* min-width: 29rem; */
  height: 30rem;
}
img.large {
  /* margin-right: 2rem; */
  width: 100%;
}

/* Card */
.card {
  position: relative;
  border: 0.1rem #c0c0c0 solid;
  /* border-radius: 0.5rem; */
  margin: 1rem;
}
.card img {
  width: 29rem;
  height: 30rem;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
  padding: 1rem;
  background-color: #f8f8f8;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  color: black;
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
/* .rating span:last-child {
  color: #404040;
} */
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.danger-sts {
  background-color: rgb(250, 160, 160);
}
.success-sts {
  background-color: rgb(155, 245, 155);
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
  border: 0.1rem black solid;
  border-radius: 00.5rem;
  padding: 1rem;
  margin: auto auto 1rem auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  /* padding-bottom: 1rem; */
}
.dropdown-content {
  position: absolute;
  display: none;
  left: 0;
  padding: 1rem;
  z-index: 1;
  background-color: #ffffff;
  top: 100%;
  padding: 0rem;
  top: 30px; /* padding-top: 1rem; */
  margin-top: 1.9rem;
  width: 20rem;
}
.dropdown-content li {
  padding: 2rem;
  border-bottom: 0.05rem solid rgb(243, 243, 243);
  margin: 0rem;
  animation-name: fade;
  transition-duration: 0.5s;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes dark {
  from {
    background-color: white;
  }
  to {
    background-color: chartreuse;
  }
}
@keyframes fade {
  from {
    background-color: chartreuse;
  }
  to {
    background-color: white;
  }
}

.dropdown-content li:hover {
  background-color: rgb(99, 235, 65);
  animation-name: dark;
  transition-duration: 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  /* position: initial; */
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
  /* background-color: green; */
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto 1rem auto;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
}
.total {
  width: 15%;
}
.table input {
  width: 5rem;
}
.table img {
  width: 8rem;
  height: 8rem;
}
.table thead {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  color: rgb(97, 97, 97);
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  /* border: 0.1rem solid #e4e4e4; */
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
.table-name {
  font-family: "Amatic SC", cursive;
}

/* Search */

.search-modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  animation: modal 0.4s linear;
}
.search-modal-content {
  width: 50%;
  opacity: 1;
}
.search-icon {
  color: black;
  cursor: pointer;
}
.search {
  width: 100%;
  margin: auto;
  display: flex;
}

.search button {
  position: absolute;
  width: 9rem;
  right: 24.5%;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

.search span {
  display: block;
  width: 100%;
}

.search input {
  border-radius: 0.5rem;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
}
.search-sidebar li {
  margin: 0em;
  padding: 1rem;
}
.search-sidebar li:hover {
  background-color: rgb(218, 218, 218);
}

@keyframes modal {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.active {
  font-weight: bold;
}

/* category */

.categories-div {
  background-color: rgb(247, 255, 246);
  padding-top: 5%;
}

.category {
  color: black;
  text-align: center;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  margin: 0 1rem 4rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}
.category:hover {
  background-color: rgb(195, 253, 188);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.category:hover > img {
  transform: translateY(-10%);
  transition-duration: 1s;
}

.category h2 {
  font-size: 3rem;
  font-weight: 900;
}
.category h2:hover {
  text-decoration: underline;
}
.category img {
  width: 28rem;
  height: 25rem;
  border: 0.5rem white solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8rem;
}

/* Meggage from */

.Msg-form {
  /* border: 0.2rem black solid; */
  background-color: rgb(220, 255, 215);
  padding: 2rem 48% 2rem 2rem;
  /* display: flex; */
}

.Msg-form h1 {
  font-size: 5rem;
}

.Msg-form input {
  height: 5rem;
  width: 200%;
  margin-bottom: 3rem;
  padding-left: 2rem;
}
.Msg-form textarea {
  height: 10rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;
}
.Msg-form button {
  margin-top: 1rem;
}
